[2015-11-06 08:28] kenrestivo opened #2 "Wrong number of args (3) passed to: adapter/-debug"
With

[code]

Hikari throws this error:

[code]

The relevant line in Hikari appears to be:
https://github.com/brettwooldridge/HikariCP/blob/dev/src/main/java/com/zaxxer/hikari/HikariConfig.java#L839

Which is apparently not compatible with this:
https://github.com/fzakaria/slf4j-timbre/blob/master/src/main/java/com/github/fzakaria/slf4j/timbre/TimbreLoggerAdapter.java#L63

Not sure who is in the

[2015-11-06 16:34] fzakaria commented on #2
Not sure.
I can't seem to reproduce it. It looks to be like only a single string.

Here was my test:

[code]

[2015-11-06 16:46] rufoa commented on #2
This is the issue my PR fixes

[2015-11-06 17:17] fzakaria commented on #2
@rufo : Its a bit weird since the missing functionality was the throwable overloaded version.
None of the code in HikariCP is using the throwable case that I could see.

In any case, sounds like it's resolved and the code is now live in clojars.
Closing the issue

[2015-11-06 17:17] #2 closed, assigned to nobody

[2015-11-06 17:27] rufoa commented on #2
I suspect the cause was actually line 828 which does use the throwable overload:
https://github.com/brettwooldridge/HikariCP/blob/dev/src/main/java/com/zaxxer/hikari/HikariConfig.java#L828

[2015-11-06 17:39] fzakaria commented on #2
riiiight.
Well, solved.
:)

[2015-11-07 02:37] kenrestivo commented on #2
Thanks for the quick action on that!

[2015-11-18 18:14] lsh-0 opened #4 "is the `jul` in `[org.slf4j/jul-over-slf4j "1.7.12"]` a typo?"
I'm getting this when following instructions in README to add deps to project:

`Could not find artifact org.slf4j:jul-over-slf4j:jar:1.7.12 in central (https://repo1.maven.org/maven2/)
Could not find artifact org.slf4j:jul-over-slf4j:jar:1.7.12 in clojars (https://clojars.org/repo/)
This could be due to a typo in :dependencies or network issues.`

I also couldn't find much mention of that library

[2015-11-19 19:14] fzakaria commented on #4
You are right.
For JUL it is `jul-to-slf4j` becaue JUL is special otherwise the naming convention is to use `over`.

http://www.slf4j.org/legacy.html

I'll edit the README

[2015-11-20 14:22] markjfisher opened #5 "slf4j-timbre compiled with JDK 1.8"
Is there any reason why this has been released with JDK 1.8?

I'm getting following

[code]

It's coming from HOME/.m2/repository/com/fzakaria/slf4j-timbre/0.2.1/slf4j-timbre-0.2.1.jar in my classpath.

[code]

I'm using 1.7 still for my projects, and can't move to 1.8, this is the only lib causing errors.

Also, I can't seem to override this because org.slf4j.impl.StaticLoggerBinder is included d

[2015-11-20 18:30] #4 closed, assigned to fzakaria

[2015-11-20 18:43] fzakaria commented on #5
I dont think there's any need for it to be 1.8.

My understanding is the following change will work:

[code]

Can you add that to a fork and if it fixes the problem I can merge in the PR.

[2015-11-20 18:51] lsh-0 commented on #4
Thanks for fixing this.
On 20 Nov 2015 18:30, "Farid Zakaria" notifications@github.com wrote:

[2015-11-20 19:10] fzakaria commented on #4
Thanks for the PR!

Farid Zakaria

On Fri, Nov 20, 2015 at 10:51 AM, Luke Skibinski notifications@github.com
wrote:

[2015-12-01 20:16] rufoa commented on #5
Fixed in 0.2.2

@fzakaria: could you please push to clojars

[2015-12-01 21:40] fzakaria commented on #5
Will do later tonight.

[2015-12-05 02:27] fzakaria commented on #5
deployed.
Sorry it took so long.

[2015-12-05 02:27] #5 closed, assigned to nobody

[2015-12-10 17:33] yogthos opened #8 "update to latest Timbre"
It looks like the `4.1.4` version of Timbre relies on an old version of encore that's still built against tools.reader `0.9.2`. The tools.reader API changed in `0.10.0` and since slf4j-timbre uses `:gen-class` it ends up compiling the old versions of the libraries into the jar. See some details on the side effects in this issue https://github.com/ptaoussanis/sente/issues/181

Ideally, if there was

[2015-12-10 19:04] fzakaria commented on #8
_Long read_

After reading through that, is the simpler fix just to wait for 4.1.5 to go into RELEASE ?
I'm not too familiar with the different options for AOT compilation.
(it's a bit out of my wheel house)

[2015-12-11 00:59] yogthos commented on #8
Yeah, it would probably make sense to wait for the `4.1.5` final to show up on Clojars, just wanted to give a heads up on the issue. I'm not sure if there is a way to exclude external libs from AOT either, but figured I'd throw that out there.

Perhaps AOT might not be necessary and you could have a note that this namespace has to be AOT compiled by using `:gen-class` somewhere in the project?

Th

[2015-12-11 01:04] yogthos commented on #8
I guess looking at the code you do need the gen-class to give it the name and add the interface. The only other way would be to use proxy, but that could have performance implications.

[2015-12-11 01:08] yogthos commented on #8
maybe if the java classes were done using gen-class in clj then you could remove `:aot :all` in the `project.clj` and the code could ship uncompiled.

[2015-12-11 03:27] rufoa commented on #8
I wish it were possible to use gen-class but slf4j (wrongly imho) relies on the SINGLETON field existing in StaticMDCBinder/StaticMarkerBinder rather than using a getter like StaticLoggerBinder does, so I think we're stuck with java unless there's something I've not thought of

https://github.com/qos-ch/slf4j/blob/2b23d26bb008b9eec151cc8244deec3bb4eed778/slf4j-api/src/main/java/org/slf4j/MDC.java#

[2015-12-11 06:25] yogthos commented on #8
Ah that's unfortunate, I wonder if there might be a way to resolve the logger implementation at runtime in the [StaticLoggerBinder](https://github.com/fzakaria/slf4j-timbre/blob/master/src/java/org/slf4j/impl/StaticLoggerBinder.java). Then just the Java classes could be compiled.

[2015-12-11 06:50] yogthos commented on #8
It's possible to change `:aot :all` to `:aot [slf4j-timbre.factory]`, then if the slf4j-timbre.factory namespace called the require in its `-init` function then it would be possible to avoid compiling `slf4j-timbre.adapter` as AOT. However, `new-logger` would probably have to be initialized using a proxy at that point. Which might not be a big deal as this wouldn't be called all that often I don't

[2015-12-11 17:29] rufoa commented on #8
Could the [leiningen `:provided` profile](https://github.com/technomancy/leiningen/blob/master/doc/PROFILES.md) be a solution to this? Never used it before but it seems to be the standard way to exclude e.g. bouncycastle from jars

[2015-12-11 17:32] yogthos commented on #8
I tried setting timbre as provided with `[com.taoensso/timbre "4.1.4" :scope "provided"]`, but the classes still end up being generated unfortunately. The way AOT compilation works is that it needs to generate classes for anything that's referenced from the namespace that's getting compiled.

[2015-12-11 18:52] rufoa commented on #8
okay - this makes sense

I've made [a branch](https://github.com/fzakaria/slf4j-timbre/tree/issue-eight) where we can work on implementing this

[2015-12-12 20:23] rufoa commented on #8
I'm not sure whether this is going to work.

If `slf4j-timbre.adapter` isn't AOT'd then we don't seem to be able to use `com.github.fzakaria.slf4j.timbre.TimbreLoggerAdapter` in `slf4j-timbre.factory`. This also affects attempts to instantiate it via reflection rather than proxying.

If we AOT `slf4j-timbre.adapter` then we need to move the `require` of timbre into `-init` so it doesn't get AOT'd.

[2015-12-12 20:46] yogthos commented on #8
Yeah it's not looking good unfortunately, only way I can think is to use a proxy instead of creating a class for the adapter. However, I'm pretty sure there would be performance implications with that. Maybe the best approach is to simply include the latest `encore` lib in the project explicitly after all.

[2015-12-26 23:14] kenrestivo opened #9 "slf4j-timbre causes mysterious failure due to encore and reader"
I got bit by this as well. It actually took me hours to try to track it down, and I never did figure it out. But thankfully someone finally did:

http://yogthos.net/posts/2015-12-26-AOTGotchas.html

I suppose maybe the library instead of :aot :all could exclude some namespaces from AOT? Or is this impossible to fix?

[2015-12-27 00:13] fzakaria commented on #9
I'm going to close as this is a duplicate of https://github.com/fzakaria/slf4j-timbre/issues/8
Pretty good to see Yogthos's blog.
I think the only solution is to wait for 4.15 and just update.

Shame of this AOT problem as I do like the Timbre library but it makes the choice vs Log4J implementation.

[2015-12-27 00:13] #9 closed, assigned to nobody

[2015-12-27 01:41] rufoa commented on #8
IMHO the root cause of this is the way SLF4J implements the singleton pattern and ideally (wishful thinking?) it would be fixed there. I've opened a ticket on their JIRA to try to get to the bottom of why they do this, and whether it could be changed.

http://jira.qos.ch/browse/SLF4J-347

[2015-12-27 01:58] fzakaria commented on #8
@rufoa dont they do that so you can bind it at runtime and code to the API and not ship a logger implementation with your library ?

[2015-12-27 02:00] fzakaria commented on #8
@rufoa I read your JIRA. Misunderstood your proposition

[2015-12-27 02:08] rufoa commented on #8
tldr: If SLF4J used getters in the two places I linked, we could do the whole thing in clojure with gen-class and wouldn't need to :aot :all, so timbre wouldn't get dragged in as a dependency

[2015-12-27 02:47] fzakaria commented on #8
Slf4J is OSS ?
Let's submit the patch.
At least fix it for ongoing versions.
On 26 Dec 2015 6:08 p.m., "rufoa" notifications@github.com wrote:

[2015-12-27 03:01] ptaoussanis commented on #8
Hey there, this was just brought to my attention- have pushed `[com.taoensso/timbre "4.1.5"]` to Clojars. Will also push 4.2.0 in a few mins.

@yogthos Thanks for tracking down the cause of the trouble!

[2015-12-27 05:56] yogthos commented on #8
@ptaoussanis thanks for pushing a new release out.

I think that the main problem is that when aot is used then the version of timbre and its dependencies that slf4j-timbre uses cannot be overriden in the project. It sounds like the only solution at the moment is to keep the library releases in sync.

The approach @rufoa proposed would be the ideal solution. @fzakaria, slf4j is oss, so it should b

[2015-12-27 05:57] kenrestivo commented on #8
@fzakaria It's been suggested that the best approach would be to use a Java shim instead of AOT'ing slf4j-timbre. Thus it would not require @ptaoussanis  to have to track your changes and vice versa.

[2015-12-27 06:04] ptaoussanis commented on #8
@yogthos, @kenrestivo Haven't had an opportunity to look at the slf4j-timbre implementation so can't comment other than to say: any strategy that avoids AOT would definitely be preferable since AOT tends to lead to weird problems like this that are often tough to diagnose and work around.

Another long-term option would be to pull slf4j-timbre (or something like it) into Timbre proper so that the

[2015-12-27 06:06] fzakaria commented on #8
Adding a new public getter should keep the API even if we keep the variable
public access but solve the problem ?
On 26 Dec 2015 10:04 p.m., "Peter Taoussanis" notifications@github.com
wrote:

[2015-12-27 06:17] yogthos commented on #8
I think so, and that shouldn't get much friction from the sl4fj team hopefully. I definitely agree that avoiding aot would be ideal. At the very least it would be nice to only aot code local to slf4j-timbre.

[2015-12-28 04:52] rufoa commented on #8
This patch should do the job and maintain backwards compatibility with existing loggers:

https://github.com/qos-ch/slf4j/compare/master...rufoa:slf4j-347

[2015-12-29 21:42] fzakaria commented on #8
Yea that change looks great.
Did you cut a PR ?

Farid Zakaria

On Sun, Dec 27, 2015 at 8:52 PM, rufoa notifications@github.com wrote:

[2015-12-30 01:43] rufoa commented on #8
https://github.com/qos-ch/slf4j/pull/138

[2015-12-31 00:46] kenrestivo commented on #8
What's the likelihood of that change actually making it into an slf4j release?
When would Timbre and/or slf4j-timbre be able to upgrade to it?
What is to be done about other projects that depend on older versions of slf4j that don't have this fix?

Would it be more practical and/or expedient to change slf4j-timbre to use java shims instead of AOT'ing?

[2015-12-31 01:18] fzakaria commented on #8
You can always force a dependency (even transitive) to a specific version
if you specify it in your project.clg/pom.xml

So for those facing this issue would be able to fix it in that regard -
can't speak to the likelyhood the PR is approved.

The original implementation is Java-shim (although it had AOT still).
On 30 Dec 2015 4:46 p.m., "ken restivo" notifications@github.com wrote:

[2015-12-31 01:38] kenrestivo commented on #8
OK I guess I'll wait to see how this shakes out.

Would it be possible to just remove the AOT then? I'm not clear on why AOT was required.

[2016-01-09 17:17] rufoa commented on #8
current discussion is happening here https://github.com/rufoa/slf4j/commit/200e6c7e2ddb9558abd1eac72b84a25d9db07433

[2016-01-09 17:23] yogthos commented on #8
looks like this might actually happen :)

[2016-01-14 00:50] rufoa opened #12 "Origin of log entries misreported"
I just got this in my logs:
`16-Jan-14 00:30:13 rufus-laptop.home DEBUG [slf4j-timbre.adapter] -  Entry count for : https://api.twitter.com:443 : 0`

The real origin is [netty](https://github.com/AsyncHttpClient/async-http-client/blob/e7798c8926ad020d3b1f845c44f0e12255fb02c0/client/src/main/java/org/asynchttpclient/netty/channel/DefaultChannelPool.java#L197) but it is being misreported as coming f

[2016-01-14 01:21] fzakaria commented on #12
Maybe we have to pass down the FQDN.  I know that's common for log
wrappers.

I know the API has support for it.

I'll post more info when I'm back at desk.
On 13 Jan 2016 4:50 p.m., "rufoa" notifications@github.com wrote:

[2016-01-14 01:56] rufoa commented on #12
Actually I'm not sure timbre allows the FQN to be overridden - it seems to set it based on `*ns*`:
https://github.com/ptaoussanis/timbre/blob/master/src/taoensso/timbre.cljx#L435

[2016-01-14 05:40] ptaoussanis commented on #8
Awesome, that looks promising. BTW please feel free to ping me if there's anything else I can do to assist from this end :-)

[2016-01-22 01:30] rufoa commented on #8
it's just been approved for the upcoming 1.7.14 release

I'm working on it in [this branch](https://github.com/fzakaria/slf4j-timbre/tree/less-java) and it's almost ready. Peter does not need to upgrade anything in Timbre

[2016-01-22 04:44] yogthos commented on #8
this is pretty great news, nice to see slf4j guys play ball on this

[2016-01-25 08:11] ptaoussanis commented on #8
Just noticed that slf 1.7.14 is out; anyone able to confirm if this issue's now fully resolved?

[2016-01-25 18:25] fzakaria commented on #8
Oooo +1

Farid Zakaria

On Mon, Jan 25, 2016 at 12:11 AM, Peter Taoussanis <notifications@github.com

[2016-01-26 01:56] kenrestivo commented on #8
Well, with this:

[code]

It gives the same failure, which is

[code]

Which appears to be due to
http://yogthos.net/posts/2015-12-26-AOTGotchas.html

But with

[code]

It fails because it looks like 0.2.3 hasn't been released yet?

[2016-01-26 02:02] rufoa commented on #8
It'll be 0.3.0 when it's pushed to clojars probably later tonight. See the pull req / other branch if you want to try it before then

[2016-01-26 03:13] rufoa commented on #12
@ptaoussanis: is it legit to use timbre middleware to overwrite the value of `?ns-str`, in order to change the reported namespace a log event supposedly came from? Or is there a better way to do this that I've missed?

[2016-01-26 03:27] ptaoussanis commented on #12
Hi @rufoa,

So to confirm: you have the correct namespace (which is different from the `*ns*` that Timbre is picking up), and you'd like to communicate the corrected namespace to Timbre?

Could you show me where in your code you're calling into Timbre exactly?

One possibility would be for me to mod https://github.com/ptaoussanis/timbre/blob/d132d443e5d31707d490f9f4a23a57caa34e1bac/src/taoensso/ti

[2016-01-26 03:36] rufoa commented on #12
Yes, exactly

please forgive me for the horrific looking macro!

https://github.com/fzakaria/slf4j-timbre/blob/f919e244c3395f547841e8aa9c753290dfeab09f/src/slf4j_timbre/adapter.clj#L26

Something along these lines would be ideal

Thanks!

[2016-01-26 04:37] fzakaria commented on #8
@yogthos  closing this as we've updated.
@rufoa  also got his merges accepted into slf4j-api which means everything is much more peachy

[2016-01-26 04:37] yogthos commented on #8
yeah sounds good

[2016-01-26 05:25] kenrestivo commented on #8
Confirmed!

Works!

Thanks!

[2016-01-26 05:26] rufoa commented on #8
excellent, you're welcome Ken

[2016-01-26 05:30] ptaoussanis commented on #8
Indeed, much thanks everyone!

[2016-01-26 05:31] ptaoussanis commented on #12
No problem, will cut a new Timbre release a bit later today; just in the middle of some work on Sente-

[2016-01-26 07:47] ptaoussanis commented on #12
Okay, taking a look at this now...

Question: is the default file and line info correct, or also something you'd like to replace?

[2016-01-26 18:24] rufoa commented on #12
It's not correct but I've figured out a way to grab the correct values from the call stack, so if there could be a way for me to supply this replacement info to Timbre that would be great

thanks for your work on this!

[2016-01-27 05:24] rufoa commented on #12
@ptaoussanis thanks so much for making all the necessary changes to Timbre - I think I've got it all working!

slf4j log entries now look like this when passed to Timbre:

[code]

and can be whitelisted/blacklisted by caller class name like native Timbre log entries can be by namespace.

[2016-01-27 06:01] fzakaria commented on #12
@rufoa cool.

Did you do something similar to

[code]

[2016-01-27 06:02] ptaoussanis commented on #12
@rufoa Just a heads-up that I'm still tweaking the API; will let you know once it's stable and I've cut a stable release later today

Taking the opportunity to refactor a few other things while I'm in the codebase...

[2016-01-27 06:05] rufoa commented on #12
@fzakaria Yes but I follow the chain up till it leaves our namespace because it bounces around a lot

[2016-01-27 06:34] ptaoussanis commented on #12
@rufoa Okay, stable release info at https://github.com/ptaoussanis/timbre/releases - the API you want at https://github.com/ptaoussanis/timbre/blob/f5af6d5d80fcd154596d37e57b579fc5d653eebe/src/taoensso/timbre.cljx#L476

Should provide everything you need but just let me know if you run into any issues or have any questions.

Good luck! :-)

[2016-01-29 00:55] erikseppanen opened #15 "mongodb log problem"
I've recently been trying to get slf4j-timbre to work with mongodb logs, but getting an error that seems to be introduced only when I add slf4j-timbre as a dependency.

I've been closely following the changes made in the last few days, like updating the README to include the three 1.7.14 version dependencies, so I think everything is OK with having the right dependencies.

I'm using a standalone M

[2016-01-29 01:27] rufoa commented on #15
My guess is that an older version of Clojure is shadowing a newer version in your project.

Which version of Clojure do you have configured in your `project.clj`?

Could you also please post the output of `lein deps :tree`

[2016-01-29 13:43] erikseppanen commented on #15
Thanks for the advice!

I stripped the project down to basically timbre, slf4j-timbre, & mongodb, and found that slf4j-timbre works as expected with mongodb logs. So I don't think it's a slf4j-timbre problem per se, and this issue can be closed.

[2016-01-29 13:43] #15 closed, assigned to nobody

[2016-03-16 20:59] jasonjckn opened #16 "doesn't work with latest version of timbre 4.3.1"
`push_listings_index | 16-03-16 20:56:06 565cd3e3f185 INFO [push-listings-index.main:44] - Created new listings index
push_listings_index | Exception in thread "main" java.lang.IllegalStateException: Attempting to call unbound fn: #'taoensso.timbre/log1-fn, compiling:(/tmp/form-init816281410483448011.clj:1:72)
push_listings_index |   at clojure.lang.Compiler.load(Compiler.java:7391)
push_listings_

[2016-03-19 14:07] rufoa commented on #16
Thanks, will investigate

[2016-03-19 17:19] rufoa commented on #16
this is resolved in the upcoming v0.3.1

@fzakaria: could you merge https://github.com/fzakaria/slf4j-timbre/pull/14 into master and push a new jar to clojars please

[2016-03-19 17:24] fzakaria commented on #16
Will do
On Mar 19, 2016 10:19 AM, "rufoa" notifications@github.com wrote:

[2016-03-21 00:29] #12 closed, assigned to nobody

[2016-03-21 00:33] fzakaria commented on #16
@rufoa 0.3.1 is released.

[2016-03-21 00:33] fzakaria commented on #16
if problem is resolved let me know and we can close the issue.

[2016-03-21 00:42] rufoa commented on #16
thanks!

@jasonjckn please upgrade to 0.3.1 and try again

[2016-03-21 04:27] jasonjckn commented on #16
Nice work guys!! I will test tomorrow.

[2016-03-24 23:42] jasonjckn commented on #16
tested, works great, thanks!

[2016-03-24 23:42] #16 closed, assigned to nobody

[2016-05-05 19:13] arichiardi opened #18 "Blacklisting Log4J namespaces does not work"
Hello @fzakaria,
I added all the deps you suggest to the my project but when I specify (either at app bootstrap or at runtime):

[code]

I can still see the DEBUG logs for that namespace (which is recurring, so very annoying I would say :smile:).

If this issue is not strictly related to `slf4j-timbre` please let me know and I will close it immediately ok?
Thank you!

[2016-05-05 19:17] rufoa commented on #18
Thanks for the report, I'll look into this

[2016-05-05 19:19] arichiardi commented on #18
I was also reading this and it might be somehow related: https://github.com/ptaoussanis/timbre/issues/138

[2016-05-06 22:51] rufoa commented on #18
I'm currently unable to reproduce this issue.

Here's my minimal working test case I used: https://github.com/rufoa/slf4j-timbre-testcase
Run it with `lein run`

[2016-05-06 23:39] arichiardi commented on #18
Uhm it looks like it is working indeed, maybe it is because I was trying to mute a class from a dependency? `com.zaxxer.hikari.*`

[2016-05-07 00:55] rufoa commented on #18
I don't think that would make a difference.

HikariCP seems to use slf4j directly rather than log4j. Do you definitely need `log4j-over-slf4j` in your project or could you try reproducing the issue without adding this dependency?

[2016-05-07 01:01] rufoa commented on #18
to clarify, you only need to use `log4j-over-slf4j` if your dependencies normally try to output to log4j - similarly with `jul-to-slf4j` (if your deps use java.util.logging) and `jcl-over-slf4j` (if your deps use jakarta commons logging). Sorry if this wasn't clear in the readme

[2016-05-07 01:55] arichiardi commented on #18
Thanks for pointing this out, I usually put all of them as I don't know which one is going to be working with which, but I will try again, I also had some other problem with Timbre and decided to put it on the side for now. But in one project it is still well alive and I will report back, I guess we can close this one for now...

[2016-05-07 01:55] #18 closed, assigned to nobody

[2016-06-27 20:57] emidln opened #20 "timbre 4.5.0 api breakage"
This commit (included in v.4.5.0 tag): https://github.com/ptaoussanis/timbre/commit/e5b95cbd753a8b0c20db7ec7d759fd1aab9a92de seems to  break sl4j-timbre with this:

[code]

Pinning to v4.4.0 of timbre resolves the issue. I might be able to contribute a PR later, but this is a heads up to anyone else playing along at home.

[2016-06-29 03:36] brunchboy commented on #20
I was just coming here to report the same issue, although in my case trying to translate a warning rather than an info message:

[code]

I didn’t see anything in the Timbre change log that seemed to suggest this kind of breakage was expected, but looking at the documentation for `-log!` that seems to be because Peter does not expect anyone to call that function directly:

[code]

Surely it would b

[2016-06-29 04:05] ptaoussanis commented on #20
@emidln Hi Brandon, this was just brought to my attention.

Just skimmed sl4j-timbre's code and it looks like it's actually already using the correct `log!` API. Have you tried running `lein clean`?

[2016-06-29 04:25] brunchboy commented on #20
Yes, `lein clean` was the first thing I tried, actually. I can see it in my command history nearly two hours ago. But I just tried again to be double certain, and the problem returns as soon as I change my dependency from timbre 4.4.0 to 4.5.0, even if I `lein clean` in between.

[2016-06-29 04:26] brunchboy commented on #20
For what it’s worth, I see no warnings in `lein deps :tree`, either.

[2016-06-29 04:32] ptaoussanis commented on #20
Just to clarify: you need to run lein clean after upgrading to v4.5.0.

As you can see at: https://github.com/fzakaria/slf4j-timbre/blob/master/src/slf4j_timbre/adapter.clj#L51, slf4j-timbre only ever calls Timbre's public `log!` API.

The `log!` call will macro-expand to a `-log!` function call. So if you're seeing a `-log!` call with 9 arguments in slf4j-timbre, that implies that there's a Timbr

[2016-06-29 04:38] brunchboy commented on #20
OK, I can confirm that `lein clean` eliminates my `target` dir completely. And starting from that state, with timbre 4.5.0 as my dependency, I receive the same crash I cited above. I need to go to bed for now, but in case it is of any help, you can find the relevant project here: https://github.com/brunchboy/beat-link-trigger

[2016-06-29 04:39] ptaoussanis commented on #20
That's very odd. Okay, will keep looking. Appreciate the confirmation - cheers!

[2016-06-29 04:41] brunchboy commented on #20
Rats, that’s not going to help you much, at least not easily, because `beat-link` (a dependency, and another project of mine) is a Maven project, and I can’t deploy snapshots as easily as I can for clojars. So you would probably need to download and install that snapshot locally, which is probably more trouble than it is worth. Hopefully there is an easier way to reproduce this. Cheers!

[2016-06-29 05:00] ptaoussanis commented on #20
@emidln @brunchboy This should be resolved with `[com.taoensso/timbre "4.5.1"]`, please let me know if you can confirm? Thanks!

[2016-06-29 13:50] brunchboy commented on #20
I can confirm that version 4.5.1 resolves the issue I was having. Thank you, @ptaoussanis !

[2016-06-29 14:54] ptaoussanis commented on #20
Great, thanks for the confirmation!

@fzakaria Hi Farid- should be good to close at your convenience.

[2016-06-29 17:48] fzakaria commented on #20
@ptaoussanis thanks for looking into it.
I started a new job so I've been very busy. Closing issue.

[2016-06-29 17:48] #20 closed, assigned to nobody

[2016-06-29 22:57] emidln commented on #20
I can confirm this fixed my issue! Thanks @ptaoussanis and @brunchboy

[2016-07-15 14:58] elisehuard opened #21 "First line of log does not comply to timbre settings"
Hi, I'm running jetty with timbre for logging and slf4j-timbre to be able to handle other libraries' messages.
Versions:

[code]

It works fine - except for the very first log line, which completely ignores my timbre settings (see first line below).

[code]

My main function goes like this:

[code]

So you see, in theory the very first line merges my timbre config.
I can work around it (by doing s

[2016-07-16 18:00] rufoa commented on #21
That's curious - I'll look into the problem asap

[2016-07-16 22:47] rufoa commented on #21
It looks like this isn't a problem with slf4j-timbre.

The `DEBUG` line is emitted in response to you `:require`ing jetty, rather than in response to the contents of your `-main` fn — and because your call to `merge-config!` hasn't yet happened at this point, your custom timbre config isn't in effect.

(Clojure's `require` fn causes the `ring.adapter.jetty` class to undergo static initialisation.

[2016-08-08 17:36] fzakaria commented on #21
Can we close this?

[2016-08-08 17:38] rufoa commented on #21
Think so. Please reopen if necessary @elisehuard

[2016-08-08 17:38] #21 closed, assigned to nobody

[2017-01-20 12:14] geekingfrog opened #22 "java exception's stack trace not displayed"
In java code I have the following:
[code]
When running this without `slf4j-timbre` I get the full stack trace in the logs, but with `slf4j-timbre`, I only get the first line:

[code]

I tried adding a timbre middleware to inspect the data and it seems the error object is missing altogether.
I've created a repo with a minimal example displaying the issue: https://github.com/geekingfrog/slf4j-timbre

[2017-01-20 19:10] rufoa commented on #22
Thanks for the report and test case. I've reproduced this behaviour locally and will look into it ASAP

[2017-01-21 02:22] rufoa commented on #22
Cause:
- the [`differentiatedLog` method](https://github.com/qos-ch/slf4j/blob/master/log4j-over-slf4j/src/main/java/org/apache/log4j/Category.java#L189) in `log4j-over-slf4j` is incorrectly taking the `else` branch because `locationAwareLogger` is null
- this means the `Throwable t` is not being passed to our slf4j implementation

What we need to do to fix this:
- `slf4j-timbre.adapter` should im

[2017-01-21 04:15] rufoa commented on #22
[Work so far](https://github.com/fzakaria/slf4j-timbre/compare/master...issue-22)

[2017-01-23 09:45] geekingfrog commented on #22
With the `0.3.3` version it works properly. Just need to publish that on clojar.
Thanks for the quick fix.

[2017-01-23 09:45] #22 closed, assigned to nobody

[2017-01-23 18:22] rufoa commented on #22
no problem @geekingfrog (please upgrade to 0.3.4)

[2017-02-14 10:28] cddr commented on #16
I'm getting this error again but we're on

[code]

[2017-02-15 05:37] rufoa commented on #16
Please run `lein deps :tree` and ensure your timbre dependency isn't being shadowed by an earlier version

[2017-03-20 13:55] yogthos commented on #8
@fzakaria  Since the SLF4J merged https://jira.qos.ch/browse/SLF4J-347 the `:aot` shouldn't be necessary.

[2017-03-20 16:28] rufoa commented on #8
Are you sure about this @yogthos? We make extensive use of `gen-class` which I believe necessitates aot - unless you've somehow managed to get it working without?

[2017-03-20 18:43] yogthos commented on #8
I thought the original reason for using `gen-class` was the problem with the SFL4J API. Now that it's been fixed, wouldn't be possible to get rid of that as you did in your branch earlier?

[2017-04-03 04:19] rufoa commented on #8
(Please forgive me while I get back up to speed on this issue)

I think at some point, sidetracked by trying to get patches into SLF4J, I must have lost sight of the original problem we were trying to solve:

I assume you're revisiting this issue because this is still a problem?

iirc the SLF4J API problem was the reason for us using Java for some of our classes. Using `:gen-class` in a pure cloju

[2017-04-03 04:34] yogthos commented on #8
The original problem I had with using `:gen-class` and `:aot` was that it generates Java bytecode using the versions of the libraries specified in the project when the artifact is generated. There are a number of problems with that.

First, you end up with a large artifact as all the dependencies along with transient ones end up being compiled into the resulting jar. However, this is a minor issue

[2017-04-05 06:08] kenrestivo commented on #8
This caused me huge problems several years ago. I thought getting rid of the Singleton and using getters/setters in the upstream library solved the problem, at least for me, but I'm not sure. In any case, I haven't seen the problem in years, and I'm still extensively using slf4j and timbre.

Agreed, no AOT compliation should be done by libraries. My understanding is that gen-class is only done whe

[2017-04-07 20:02] rufoa commented on #8
Turns out this is a longstanding issue http://dev.clojure.org/jira/browse/CLJ-322

I think the easiest fix atm is to just delete the classes we don't want from the jar: https://github.com/fzakaria/slf4j-timbre/commit/80eb0dd13303d8cb612c2c89cc199ea766bace58

Released to clojars as `[com.fzakaria/slf4j-timbre "0.3.5"]`

[2017-04-07 20:51] yogthos commented on #8
Interesting, didn't realize it was a compiler bug. Deleting the classes seems like a reasonable workaround.

[2017-06-07 14:59] lorddoig opened #25 "Cannot use with jboss owing to nil assertion on arg-array"
When trying to use with immutant, directing logs to slf4j and then slf4j-timbre, it silently fails and starts printing default output to `stdout`.  After a fair amount of assistance from @tobias, he discovered that the logging subsystem init was failing because of this assertion: https://github.com/fzakaria/slf4j-timbre/tree/master/src/slf4j_timbre/adapter.clj#L95 and then defaulting to something

[2017-06-12 04:07] rufoa commented on #25
That assertion was a reminder because I hadn't yet written the code for properly handling a non-nil `arg-array`. Sorry if it was difficult to identify the root cause.

I've pushed a new snapshot to [clojars](https://clojars.org/com.fzakaria/slf4j-timbre/versions/0.3.6-SNAPSHOT) as `[com.fzakaria/slf4j-timbre "0.3.6-SNAPSHOT"]`. Please try it out and let me know if it works for you.

Specifically,

[2017-06-12 12:57] tobias commented on #25
Thanks @rufoa! This allows timbre to work in my simple test app when I depend on 0.3.6-SNAPSHOT and force jboss-logging to use slf4j with `:jvm-opts ["-Dorg.jboss.logging.provider=slf4j"]` in `project.clj`. I haven't yet tested with an exception - I'll need to figure out how to get something that uses jboss-logging to throw and report an error.

[2017-06-13 23:58] rufoa commented on #25
Don't worry about it, looks like there was indeed a bug in the previous snapshot but I've fixed it now

Pushed to clojars as `[com.fzakaria/slf4j-timbre "0.3.6"]`

Thanks for the bug report guys 👍

[2017-06-21 22:49] ianconsolata opened #26 "Does not respect TIMBRE_LEVEL compile time var"
In a project with no timbre config, but only a TIMBRE_LEVEL var, timbre respects the level but other java libraries using slf-4j do not.

[2017-06-22 04:45] rufoa commented on #26
Thanks for the report.

I believe the root cause is that [`(levels level)`](https://github.com/fzakaria/slf4j-timbre/blob/9054f9f3a85fef4260d19117bcc0ac0225bfecab/src/slf4j_timbre/adapter.clj#L107) is not a compile-time constant so timbre cannot elide log statements at compile-time based on its value.

I'll think how we might overcome this, potentially by using macros, and hope to have a fix ASAP.

[2017-06-22 22:33] rufoa commented on #26
@jungziege please check this is fixed in `0.3.7-SNAPSHOT`, available on clojars

[2017-06-22 22:34] #25 closed, assigned to nobody

[2017-06-27 18:39] rufoa commented on #26
Assuming this works

Released as `0.3.7`

[2017-06-27 18:39] #26 closed, assigned to nobody

[2017-07-07 14:27] aroemers commented on #8
Hi @fzakaria,

The AOT issue has bitten us well. Since we rely on `slf4j-timbre` heavily, and suddenly [this](https://dev.clojure.org/jira/browse/CLJ-1886) occurred, I set out to remove the reliance on AOT for this library altogether. You can see the work [here](https://github.com/fzakaria/slf4j-timbre/compare/fzakaria:master...hellodata-org:remove-aot).

I think the Clojure community could benefi

[2017-07-07 15:17] rufoa commented on #8
Hi @aroemers,

Thanks for your work on that PR - I will check it out.

To be clear, are you still encountering AOT problems with slf4-timbre >=0.3.5? The JIRA ticket you linked is from Jan 2016 and I think I finally resolved the problem a few months ago. Note that the still-unresolved blocker CLJ-322 mentioned on JIRA is what I'm working around in https://github.com/fzakaria/slf4j-timbre/commit/80

[2017-07-21 17:30] #8 closed, assigned to nobody

[2017-07-27 14:12] aroemers commented on #8
@rufoa By the way, I have halted my work on an AOT-less version of SLF4J for now. While I still think it is a good idea to do so, it turned out not to be the root cause of the `__thunk__` issue. See https://dev.clojure.org/jira/browse/CLJ-1886 for my findings (and workaround).

[2017-10-23 10:17] obohrer opened #27 "Remove Compiled classes from the distributed jar"
Hi,

Thank you for building this adaptor :)

We started to encounter some issues related to dependencies and it seems slf4j-timbre is released with compiled classes in the JAR (~278Kb).
[code]

It can causes compatibility issues and weird behaviour ( possibly https://dev.clojure.org/jira/browse/CLJ-1886 ?)

Would it be possible to release slf4j-timbre without the compiled java classes, just the so

[2017-10-23 17:39] rufoa commented on #27
I thought we managed to fix this in 0.3.5 :disappointed: (see the end of issue #8)

We rely heavily on AOT so I don't think we can remove any more of the compiled classes from the jar unfortunately.

Do you have an example project I can look at that exhibits the problem you're seeing please?

If it's private please post the output of `lein deps :tree`

[2017-11-13 19:11] rufoa commented on #27
Closing this issue because I can't reproduce it with the info provided.

If @obohrer or anyone else is still having this problem and can provide a failing test case for me to investigate, please feel free to reopen. :+1:

Thanks

[2017-11-13 19:11] #27 closed, assigned to nobody

[2017-11-19 00:09] leourbina commented on #18
@arichiardi I had this exact same issue (working on a luminus app + timbre).

The root cause was forgetting to remove `[ch.qos.logback/logback-classic "1.1.7"]` from my `project.clj`. This was pulling an old version of `slf4j-api` which causes things to stop working.

I convinced myself that this wasn't an issue with `slf4j-timbre` by creating this toy project to test it https://github.com/leourbi

[2017-11-19 00:20] arichiardi commented on #18
Thanks a lot for the suggestion and thanks for putting it here for me and others to see it :+1:

[2017-11-19 00:20] rufoa commented on #18
Thanks for the feedback @leourbina! Outdated [transitive] dependencies are a common problem people experience with this project, so hopefully your advice helps people out in future.

[2018-06-26 10:42] SevereOverfl0w opened #29 "Use of clojure.string without require"
https://github.com/fzakaria/slf4j-timbre/blob/master/src/slf4j_timbre/adapter.clj#L25

This happens to be okay, but may not always be depending on how other libraries decide to perform requires.

[2018-06-26 12:44] rufoa commented on #29
Good catch

[2018-06-26 12:51] rufoa commented on #29
Fixed in 0.3.10, now available in clojars
Thanks

[2018-06-26 12:51] #29 closed, assigned to nobody

[2018-06-28 08:35] harti2006 opened #30 "context is not passed to output-fn"
Hi,

I'm currently facing an issue with custom context, that is declared via `timbre/with-context`, not being delivered to the `middleware` and `output-fn`, when using the `clojure.tools.logging` adapter.

## Steps to reproduce
Project dependencies
[code]

Snippet
[code]

Output
[code]

## Expected behavior
The custom application context should be supplied regardless of the log api that was used.

[2018-06-28 21:44] #30 closed, assigned to nobody

[2018-06-28 21:55] rufoa commented on #30
Thanks for such a clear write-up!

Fixed in 0.3.11

---

Please note that you may still lose the context if you call `clj-log/info` etc. within an STM transaction.

This is because timbre uses a thread-local binding for `*context*` but `clojure.tools.logging` may use agents to do the actual logging in a separate thread using `send-off`.

(A pretty unlikely edge case but I'm documenting it here for

[2018-06-29 07:47] harti2006 commented on #30
Awesome. Thank you so much for the quick fix. 0.3.11 works perfectly fine for me.

[2018-12-22 01:25] vemv opened #32 "Noisy Netty logs show up after adopting this library"
Hi there,

this library works as intended. Kudos!

However I noticed this relatively minor nuisance at startup (e.g. `lein repl`):

[code]

...those lines didn't show up before `slf4j-timbre` adoption. From what I can see, Netty has the following static code which will run merely by being imported: https://github.com/netty/netty/blob/6464c98743779778e52db59522f269bfe47a46af/common/src/main/java/io

[2018-12-22 01:33] vemv commented on #32
Just tried `export TIMBRE_LEVEL=":warn"` as well... nope

[2018-12-22 01:37] rufoa commented on #32
Thanks for the thorough report!

This looks similar to https://github.com/fzakaria/slf4j-timbre/issues/21#issuecomment-233155008

Strange that none of those things you tried worked. I assumed they would resolve this but I never actually checked at the time

[2018-12-22 03:18] rufoa commented on #32
I think `taoensso.timbre/-elide?` and/or `taoensso.timbre/may-log?` might be misbehaving when used with our lib

This should cause our tests to fail but it doesn't:

[code]

[2018-12-22 15:40] vemv commented on #32
Good that you post that, I was about to create a new issue (which would need a separate repo/repro):

logs that are successfully re-routed via slf4j-timbre are unconditionally logged, i.e. `:min-level` is ignored.

For proof I added `<<<<level>>>>` to a custom `output-fn`. It shows that Timbre is receiving correct `level` values, but ignoring them for some reason.

[code]

[2018-12-23 05:40] rufoa commented on #32
It looks like Timbre's _compile-time elision_ is not working with slf4j-timbre.

This is because:
- Logging calls are elided at macro-expansion time based on the value of `TIMBRE_LEVEL`
- Because `slf4j-timbre` is AOT compiled, macro-expansion of `slf4j-timbre.adapter` occured when I compiled my project (using my value of `TIMBRE_LEVEL`), rather than when you compile your project

Unfortunately th

[2018-12-23 05:52] rufoa commented on #32
So when `TIMBRE_LEVEL` is set at compile-time (of `slf4j-timbre`), our tests fail properly, as expected. The value of `TIMBRE_LEVEL` at runtime is ignored. This explains https://github.com/fzakaria/slf4j-timbre/issues/32#issuecomment-449535327

[code]

[2019-04-03 20:04] krestivo-kdinfotech opened #34 "Choice of two errors, no errors is not an option"
With this:

[code]

I get

[code]

OK... if I add this, though:

[code]

Then the whole compile fails, with:

[code]

From a .java source file vendored dependency that does its own log4j logging.

In both cases, lein tree shows that  this does include

[code]

as a transitive dependency.

I could edit the java dep but will probably just limp along with the apache error instead.

[2019-04-03 21:22] rufoa commented on #34
Thanks for the report. I'm still trying to figure out what's going on here, but a few points spring to mind.

- It's probably wrong to use `slf4j-log4j12` and `log4j-over-slf4j` at the same time ([reference](https://www.slf4j.org/legacy.html#log4jRecursion))
- If you want your logs to go `log4j --> slf4j --> timbre` you would normally just use `log4j-over-slf4j` and `slf4j-timbre` (not `slf4j-log4

[2019-04-04 18:37] krestivo-kdinfotech commented on #34
Thanks, it seems the root cause is the java file making direct calls to log4j as in the known inadequacy you helpfully provided in your link. Nothing I can do about that; can't use timbre for this project. Closing. Thanks again.

[2019-04-04 18:37] #34 closed, assigned to nobody

[2019-12-03 12:52] ivarref commented on #32
Any progress on this? I figure an improvement would at least be to set the AOT compiled default level to info?

[2019-12-03 12:56] runejuhl commented on #32
It should be possible to filter out Jetty (and other noisy libraries) using the `:ns-blacklist` option in timbre: https://github.com/ptaoussanis/timbre#configuration

One of my projects has the following in an `:ns-blacklist` config option, loaded at runtime:

[code]

Seems to work fine. It's quite heavy handed, but that particular blacklist is used only for some configurations -- it's probably no

[2019-12-03 13:06] ivarref commented on #32
My problem is that loads of logging happen during execution of tools.deps plugins such as [deps-ancient](https://github.com/slipset/deps-ancient/) and [pack.alpha](https://github.com/juxt/pack.alpha/) where I do not have the option to set anything at runtime.

[2019-12-03 13:08] runejuhl commented on #32
Ah, gotcha. Then I'm not of much use, sorry. I'm not even sure how I'd go about it... Hope you find a solution!

[2019-12-03 13:26] ivarref commented on #32
Thanks -- and thanks for trying to help!

I'm not very ventured in slf4j-implementation land, but I figure that it would be possible to set the default timbre log level to `:info` (or what is present in `TIMBRE_LEVEL`).

Personally when binding slf4j I would like the default level to be :info.

[2019-12-03 13:35] ivarref commented on #32
I updated factory.clj to be:

[code]

This seems to work fine for me. I will make a pull request.

[2019-12-03 13:39] runejuhl commented on #32
That seems like a good compromise IMO, but I'd make sure it was possible to override the default log level easily. That way it'd avoid the worst of too verbose logs, and users that want to see everything can adjust it to their needs.

[2019-12-03 13:47] ivarref commented on #32
Thanks for the input @runejuhl. I've added a pull request now which respects TIMBRE_LEVEL and defaults to `:info`.

The reason for defaulting to `:info` is that so many java libraries adds tons of debug output, and I would rather not have to specify `-J-DTIMBRE_LEVEL=:info` when running all my tools.deps plugins.

Thanks for the library @rufoa and hope you have time to review the pull request.

[2019-12-13 02:28] rufoa commented on #32
Finally (sorry!) resolved in version `"0.3.15"`

Big thanks to everyone who helped sort this out

[2019-12-13 02:28] #32 closed, assigned to nobody

[2020-01-26 14:32] coreagile opened #37 "NoClassDefFoundError attempting to log using 0.3.18"
When upgrading to `0.3.18` of slf4j-timbre, I'm getting the following stack trace:

    java.lang.NoClassDefFoundError: taoensso/timbre$may_log_QMARK_
	    at slf4j_timbre.adapter$_isDebugEnabled.invokeStatic(adapter.clj:159)
        at slf4j_timbre.adapter$_isDebugEnabled.invoke(adapter.clj:158)

These are my relevant dependencies:

    [com.taoensso/timbre "4.10.0"]
    [org.slf4j/log4j-over-slf

[2020-01-26 14:47] rufoa commented on #37
Sorry about that - will look into it ASAP

Did your code work correctly with 0.3.17?

On Sun, 26 Jan 2020, 14:32 Stephen Starkey, <notifications@github.com>
wrote:

[2020-01-26 14:48] coreagile commented on #37
It sure did! Thanks!

[2020-01-26 15:31] rufoa commented on #37
Gotta be a problem with direct linking which the tests miss. Trying to reproduce

[2020-01-26 16:31] rufoa commented on #37
The problem is that direct linking isn't playing nicely with the way we use AOT.

We need AOT for our own classes, but this causes our dependencies to undergo AOT as well, so we then strip those classes out of our jar as per [CLJ-322](https://clojure.atlassian.net/browse/CLJ-322) – and this includes Timbre.

If the project using slf4j-timbre (yours) doesn't happen to then AOT Timbre itself, then t

[2020-01-26 16:37] rufoa commented on #37
Should be fixed in 0.3.19, please lmk

[2020-01-26 18:47] coreagile commented on #37
It works! Thanks!!

[2020-01-26 19:56] #37 closed, assigned to nobody

[2020-02-14 05:54] vxe opened #38 "SLF4j actual binding gets unset when importing dgraph4j"
https://github.com/dgraph-io/dgraph4j

Essentially without this project in deps.edn:

[code]

adding it results in

[code]

using these dependencies

[code]

Are you able to reproduce and/or know the cause of this?

[2020-02-14 09:26] rufoa commented on #38
Thanks for the report. Will investigate

On Fri, 14 Feb 2020, 05:54 vijay edwin, <notifications@github.com> wrote:

[2020-02-14 18:07] rufoa commented on #38
This is a bug in dgraph4j, which lists `org.slf4j/slf4j-simple` as a compile-time dependency in the default scope. Libraries should not propagate specific slf4j bindings to dependent projects - [see the slf4j FAQ](http://www.slf4j.org/faq.html#maven2).

Please file a bug report with dgraph4j, telling them to scope their dependency on `org.slf4j/slf4j-simple` correctly to stop it propagating to oth

[2020-02-15 09:56] vxe commented on #38
work around worked, and bug report filed.  Great work on this project!

[2020-02-15 09:56] #38 closed, assigned to nobody

[2020-04-01 04:20] barkanido opened #39 "can't silence logs in tests"
Hi, I have a library that wraps [caffeine](https://github.com/ben-manes/caffeine) (which uses `java.util.logging`). And I am trying to silence the logs during tests.

Added `[org.slf4j/jul-to-slf4j "1.7.30"] [com.fzakaria/slf4j-timbre "0.3.19"]` to `project.clj` under `:profiles/:dev/:dependencies` and my deps are:

[code]
on my tests I have added a fixture:
[code]
also, tried the same during comp

[2020-04-02 00:33] rufoa commented on #39
Hi @barkanido, thanks for bringing this to my attention.

Please could you uncomment `(prn timbre/*config*)` and post the output.

Does this problem only affect JUL messages? Are logs emitted directly from Timbre successfully silenced?

[2020-04-05 04:04] barkanido commented on #39
Eventually, I figured out that I do not really need `timbre` nor `slf4j-timbre`. Configuring JUL directly at runtime did exactly what I needed:

[code]
Thanks for looking into that!

[2020-04-05 04:04] #39 closed, assigned to nobody

[2020-04-30 21:20] CamdenClark opened #40 "High log volume can cause serious performance degredation"
When using this library in a project, an upstream library was using `apache.http.*`, which has significant trace logging. It looks like on every log message this library calls `.getStackTrace`, which causes a really significant spike in CPU usage, even if our log level isn't at trace.

[2020-04-30 21:22] rufoa commented on #40
Thanks, will look into this

[2020-04-30 21:41] rufoa commented on #40
Does putting apache.http.* in timbre's `:ns-blacklist` resolve the issue?

I realise this isn't a proper solution but the blacklist *should* be checked before the call to `getStackTrace` occurs.

[2020-04-30 21:54] CamdenClark commented on #40
Yes, that was a successful temporary fix for us.

[2020-04-30 21:55] CamdenClark commented on #40
We were scared that there was unknown impact--any time any new upstream dependency is added we're nervous about the potential for new spats of trace logging that causes a performance degredation that's opaque unless you're explicitly looking for it.

[2020-04-30 22:16] rufoa commented on #40
Yes I understand your concern. Thanks for confirming the blacklist works.

Please could you now check timbre's `:ns-log-level` works?

Put `:ns-log-level [["apache.http.*" :error]]` in your config, and check the calls to `getStackTrace` are skipped

[2020-07-16 10:52] mirkub opened #41 "configuration from file"
Hi
I find it very difficult to load the configuration from a config file. Probably because the configuration needs to be compiled, right?
Is there a way of doing it?
Thanks
MK

[2020-07-22 21:03] rufoa commented on #41
Sorry to hear you're having problems with this @mirkub

The idea is that you do all config through timbre (and not using e.g. an slf4j `.properties` file)

Timbre's config map is described here: https://github.com/ptaoussanis/timbre/#configuration

You don't usually put this in a separate file. Normally you use `timbre/set-config!`, `timbre/merge-config!`, `timbre/set-level!` etc in your clojure c

[2020-08-15 22:39] rufoa commented on #41
I assume this has been resolved so will close it now.

If @mirkub or anyone else is still having problems, please feel free to reopen this issue or to create a new one.

[2020-08-15 22:39] #41 closed, assigned to nobody

[2020-09-22 21:40] rufoa opened #42 "timbre 5.0 support"
https://github.com/ptaoussanis/timbre/releases/tag/v5.0.0

[2020-09-29 08:17] jsyrjala commented on #42
Are there any known issues with timbre 5.0.0? At least we are seeing libraries using slf4j to logging at DEBUG level with timbre 5.0.0, when they didn't with timbre 4. with slf4j-timbre 0.3.19

[2020-09-29 22:35] rufoa commented on #42
Thanks for letting me know. I haven't yet tested slf4j-timbre with timbre 5.0.0. I will investigate this issue ASAP

[2020-10-06 03:28] rufoa commented on #42
I have successfully reproduced this issue and have identified the root cause. It is a consequence of timbre renaming `:level` to `:min-level` in 5.0.0.

When slf4j-timbre is compiled (against timbre 4.10.0), the line `(timbre/with-level :info ...)` macro-expands to `(assoc *config* :level :info)`.

At runtime, your project (with timbre 5 on the classpath) reads the value of `:min-level`, which is

[2020-10-06 23:22] rufoa commented on #42
@jsyrjala please try `0.3.20`!

[2020-10-07 05:57] jsyrjala commented on #42
I tried 0.3.20 and we are still seeing debug logs with timbre 5.x and not seeing them with timbre 4.x.

[2020-10-07 23:54] rufoa commented on #42
That is very strange :confused:

Please could you give me as much detail as possible about how your project is triggering this behaviour? A small test case would be ideal.

Many thanks

[2020-12-31 12:59] sittim opened #43 "Could not find artifact"
When I include the dependency like so:

[code]

Then run `clj -Atest` and get:

[code]

Wonder what I am missing

[2020-12-31 13:05] sittim commented on #43
Hmm, my deps got messed up and I did not even notice it.

[2020-12-31 13:05] #43 closed, assigned to nobody

[2021-06-28 23:13] awb99 commented on #42
I use it with timbre v5, but I get this warning printed in console:

[code]

[2021-07-04 01:20] awb99 opened #45 "slf4j-api 2.0.0-alpha1 - not working"
clojure -X:deps tree
[code]

log output in app
[code]

[2021-07-04 01:21] awb99 commented on #45
Either the 2.0.0 api is different to the 1.8 api, or it is not.

[2021-07-04 01:25] awb99 commented on #45
In any case, it would be great if slf4j-timbre would support the 2.0.0 api.

[2021-07-04 01:43] rufoa commented on #45
Thanks for the report, I'll look into it and also the new API

[2021-07-04 01:55] awb99 commented on #45
thanks @rufoa
I modified the text of the original ticket.
I did do a lot of experiments with dependencies to find out what exactly is going on.
I managed to get to a stage where logging of slf4j was working WITH slf4j 2.0.0 api. I tought the culprit was day8.re-frame/tracing.

But after I wrote the ticket I could not repeat that behavior. Very bizarre

[2021-07-04 02:04] awb99 commented on #45
I reproduced it. :-)

So I have dependencies whic bring slf4j api 2.0.0. I cannot exclude this dependencies
But I did add  org.slf4j/slf4j-api {:mvn/version "1.7.30"} to my deps.edn dependencies.
This forces to use the 1.7.30 version into the classpath, even though other dependencies need a higher version.
This actually works to get slf4j logs to timbre.
However I  am scared to use this in product

[2021-10-05 15:58] devurandom commented on #42
What you are seeing is probably #45.

[2021-10-26 02:54] masterbuilder99 commented on #42
Any update on updating this library to timbre v5?

[2021-11-24 01:45] awb99 commented on #42
@rufoa I see you have forked this repo. Is your fork working? I find it very annoying that since timbre 5 this library did break don. It really should be a simple thing...  What could be done  is to make a different artefact, and then the different timbre versions are easily visible.

[2021-11-24 02:38] rufoa commented on #42
Hi guys, sorry the lack of timbre 5 support is causing annoyance. I have most of the code ready but have been very short of time recently due to work. I hope to be able to dedicate some time to getting this finished soon, and will announce here when it is ready. Thanks for your continued patience.

[2022-01-11 23:50] awb99 commented on #45
Any news on this ?

[2022-03-06 15:42] ds21194 opened #46 "binding with slf4j-api does not work"
I'm using slf4j-timbre with slf4j-api as suggested in the README.md,
however when I try to build - the default implementation kicks in (NOP)
and an error is thrown:

[code]

several slf4j-apis' version I tried: 1.7.14, 1.7.32, 1.8.0-alpha0   - but all of them has returned the same exception.

os: mac-os with intel chip
sdk: I tired with several open-sdk's: 1.8, 11, 17.
The code was built using Pol

[2022-03-07 09:07] ds21194 commented on #46
Issue solved when I added `org.slf4j/slf4j-api {:mvn/version "1.7.32"}` to deps.edn under the project I was trying to build, and not only to deps.edn under the component using it.
💯

[2022-03-07 09:07] #46 closed, assigned to nobody

[2022-03-09 02:55] johnbendi opened #47 "Default log level does not match default timbre log level"
The code here clearly shows this:
https://github.com/fzakaria/slf4j-timbre/blob/b077afc957783ffae56b73b252203b2410d504d1/src/slf4j_timbre/factory.clj#L12-L22
This caused me a lot of problem and valuable time trying to understand why the default setup was not logging at `:debug` level which is the advertised default for `timbre`

[2022-04-29 19:17] pfernandez commented on #47
Glad I saw this issue, I don't see `TIMBRE_LEVEL` anywhere in the timbre docs and was finally able to change the level with `export TIMBRE_LEVEL=':warn'`.

[2022-05-22 05:08] awb99 commented on #42
Hi! Any news in this?

[2022-05-23 01:03] rufoa commented on #42
@awb99 yes! Please try out [the new snapshot](https://clojars.org/com.fzakaria/slf4j-timbre/versions/0.3.21-6-9f1d565-SNAPSHOT) and let me know if it works for you.

I've not yet finished my overhaul of the integration tests, which should give me more confidence that everything works with different library versions and configurations. But I can't keep you waiting for that!!

[2022-05-23 01:20] rufoa commented on #45
Last time I checked (a while ago, admittedly), Ceki was still making breaking changes to the API in slf4j 2.0 alphas. Am I to understand people are actually using it in the wild these days? If so, I should prioritise adding support for it.

What was frustrating - [a recurring theme with slf4j](https://github.com/qos-ch/slf4j/pull/190/#issuecomment-495959349) - is that the 2.0 API [isn't actually c

[2022-05-23 01:45] rufoa commented on #47
I implemented this in https://github.com/fzakaria/slf4j-timbre/pull/36#issuecomment-562430641 because people had the opposite problem: they started using slf4j-timbre and suddenly the old slf4j default level of `info` was effectively lowered to `debug` (timbre's default).

When using libraries like netty, this caused a ton of debug messages to be spewed out before the user could even configure tim

[2022-05-23 16:06] pfernandez commented on #47
Thank you, I think a little extra documentation would be helpful. Also note that `LOG_LEVEL` is legacy and undocumented in timbre, which now uses [TAOENSSO_TIMBRE_MIN_LEVEL_EDN](https://github.com/ptaoussanis/timbre#log-levels-and-ns-filters-compile-time-elision) instead.

[2022-05-23 22:24] awb99 commented on #45
I see a lot of apps / libraries that use the 2.0 version slf4j api. So it
would be great to be able to pipe their logs to timbre.

I agree tha you will most likely need a different artefact.

On Sun, May 22, 2022, 20:20 Rufus ***@***.***> wrote:

[2022-05-28 20:44] devurandom commented on #45
The only dependency of mine that uses it is `com.zaxxer/HikariCP` version 5.0.1.

See-also: https://github.com/brettwooldridge/HikariCP/issues/2078

[2022-07-25 10:29] ghost commented on #45
@devurandom me too.
I am doing with:
com.zaxxer/HikariCP {:mvn/version "5.0.1" :exclusions [org.slf4j/slf4j-api]}

Not sure if it will cause any error.  (finger crossed).

[2022-08-31 10:09] devurandom commented on #45
`org.slf4j/slf4j-api {:mvn/version "2.0.0"}` was released: https://mvnrepository.com/artifact/org.slf4j/slf4j-api

Now the following also depend on it, not just `com.zaxxer/HikariCP {:mvn/version "5.0.1"}`:
[code]

[2022-11-02 13:47] ieugen opened #54 "timbre 6.0 support"
Timbre 6.0 is out and added this issue to track support for that.
We are in the process of upgrading to see how it goes.

This comes after https://github.com/fzakaria/slf4j-timbre/issues/42 .

[2022-11-02 13:57] ieugen commented on #40
Is this still an issue?
Should we check if we have "apache.http.*" logging in our setup?
Is there a better/more reliable way to check without "watching the CPU usage" ?

[2022-11-02 18:44] greglook commented on #40
We (Amperity) eventually wound up writing a [new logging library](https://github.com/amperity/dialog) that combines some of the concepts in timbre with a direct SLF4J implementation, so it doesn't suffer from some of the handoff pain this ticket is an example of.

[2022-11-03 10:43] ieugen commented on #40
@greglook : thanks for the suggestion.
Will check it out in depth.

We have a big app that uses libraries with all sorts of logging.
As of right now, we can't filter logging from other logging frameworks.
This is kind of a deal breaker.